---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="mx-auto max-w-3xl px-6 py-32 text-center">
    <h1 class="text-6xl font-bold text-gray-200">404</h1>
    <p class="mt-4 text-gray-500">This page doesn't exist.</p>
    <a href="/" class="mt-6 inline-block text-sm text-brand hover:text-brand-hover">
      &larr; Back home
    </a>
  </div>
</Layout>
